<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrderService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51234/OrderService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IOrderService" contract="IOrderService"
          name="BasicHttpBinding_IOrderService" />
    </client>
  </system.serviceModel>
</configuration>